*.log
local_settings.py

*/__pycache__/*
squirrel_tracker_app/management/commands/__pycache__/*
squirrel_tracker_app/migrations/__pycache__/*
squirrel_tracker/__pycache__/*
squirrel_tracker_app/__pycache__/*
