<!doctype>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<html>

<head style="background-color:#DEDEDE;">
    <title>Squirrel Sightings, NYC 2018 - Detailed View </title>
    <a href='/map/' style="background-color:#DEDEDE;right:230px;top:10px; position:relative; float:right"><img src='https://www.pngfind.com/pngs/m/45-451203_map-icon-png-map-location-icon-png-transparent.png' width='30' height='30' title="Click to go to squirrel sighting map." /></a>
    <a href='/add/' style="background-color:#DEDEDE;right:155px;top:10px; position:relative; float:right"><img src='https://www.freepnglogos.com/uploads/plus-icon/plus-svg-png-icon-download-onlinewebfontsm-4.png' width='30' height='30' title="Click to add squirrel new squirrel sighting." /></a>
    <a href='/stats/' style="background-color:#DEDEDE;right:80px;top:10px; position:relative; float:right"><img src='https://p7.hiclipart.com/preview/589/297/67/bar-chart-statistics-computer-icons-clip-art-bar-graph-cliparts.jpg' width='30' height='30' title="Click to go to squirrel stats view." /></a>
    <a href='/' style="background-color:#DEDEDE;right:5px;top:10px; position:relative; float:right"><img src='https://www.freepnglogos.com/uploads/logo-home-png/chimney-home-icon-transparent-1.png' width='30' height='30' title="Click to go back to main page." /></a>
    <h1 style="background-color:#DEDEDE;font_size:120%;color:#D2691E"><b>Squirrel Sightings, NYC 2018 - Detailed View</b></h1>
</head>

<body style="background-color:#DEDEDE;">
    <p>
        <ul class="list-group">
            {% for s in squirrel %}
            <li class="list-group-item"><a href='{{ s.Unique_Squirrel_ID}}'>{{s.Unique_Squirrel_ID}}</a></li>
            {% endfor %}
        </ul>
    </p>
</body>

</html> 
