<!doctype html>
<html lang="en">
  <head style="background-color:#DEDEDE;">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Add Squirrel Sighting</title>
    <a href='/squirrel_tracker_app/map/' style="background-color:#DEDEDE;left:1700px;top:10px; position:absolute; float:right"><img src='https://www.pngfind.com/pngs/m/45-451203_map-icon-png-map-location-icon-png-transparent.png' width='30' height='30' title="Click to go to squirrel sighting map." /></a>
    <a href='/squirrel_tracker_app/sightings/' style="background-color:#DEDEDE;left:1750px;top:10px; position:absolute; float:right"><img src='https://www.pngfind.com/pngs/m/70-704188_icon-png-edit-edit-icon-png-transparent-png.png' width='30' height='30' title="Click to go to detailed squirrel sighting view." /></a>
    <a href='/squirrel_tracker_app/stats/' style="background-color:#DEDEDE;left:1800px;top:10px; position:absolute; float:right"><img src='https://p7.hiclipart.com/preview/589/297/67/bar-chart-statistics-computer-icons-clip-art-bar-graph-cliparts.jpg' width='30' height='30' title="Click to go to squirrel stats view." /></a>
    <a href='/squirrel_tracker_app/' style="background-color:#DEDEDE;left:1850px;top:10px; position:absolute; float:right"><img src='https://www.freepnglogos.com/uploads/logo-home-png/chimney-home-icon-transparent-1.png' width='30' height='30' title="Click to go back to main page." /></a>
  </head>
  <body style="background-color:#DEDEDE;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
		<h1 class="mt-2" style="background-color:#DEDEDE;font_size:120%;color:#D2691E"><b>Add Squirrel Sighting</b></h1>
          <hr class="mt-0 mb-4">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
