<!doctype>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<html>

<head>
    <title>Squirrel Tracker </title>
    <h1 align="center" style="background-color:#DEDEDE;font_size:120%;color:#D2691E"><b> {{Squirrel}} for NYC, 2018 </b></h1>
</head>

<body align="center" style="background-color:#DEDEDE;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <p> <a href='/map' class="btn btn-info" role="button" style="background-color:#D2691E;font_size:80%;color:#ffffff">Map view </a></p>
    <br>
    <br>
    <p> <a href='/sightings' class="btn btn-info" role="button" style="background-color:#D2691E;font_size:80%;color:#ffffff">Detailed view </a></p>
    <br>
    <br>
    <p> <a href='/add' class="btn btn-info" role="button" style="background-color:#D2691E;font_size:80%;color:#ffffff">Add new sighting</a></p>
    <br>
    <br>
    <p> <a href='/stats' class="btn btn-info" role="button" style="background-color:#D2691E;font_size:80%;color:#ffffff">Sighting statistics</a></p>
</body>

</html>
